.containerMaster {
    background-color: red;
}

#wtLogoNavbar {
    text-align: center;
}

#carousel {
    margin-bottom: 50px;
}

.wtCarouselTitle {
    font-size: 48px;
}

.wtCarouselDesc {
    font-size: 36px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial
}

.wtCarouselElements {
    height: 100vh;
    width: 100%;
}

/* Media queries pour effacer le texte du carousel et l'adapté a la taille du periph */
@media screen and (max-width:700px) {
    .wtCarouselElements {
        width: 100%;
        height: auto;
    }

    #wtLogoNavbar {
        display: none;
    }
}

footer {
    padding-top: 55px;
    padding-bottom: 55px;
}

.wtFooterElements {
    text-align: center;
}

.wtRSLink {
    text-decoration: none;
    color: black;
}

.wtLegalMentionsPropName {
    font-weight: bold;

}


/* test Side --------------------------------------------------------------------------------------------*/
/* test Side --------------------------------------------------------------------------------------------*/
.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon-text {
    vertical-align: middle;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 600px) {
    .sidebar {
        padding-top: 12px;
    }
    .sidebar a {
        font-size: 14px;
    }
}


.wtDisableNone {
    display : none;
    width : -1000px;
}